@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500&family=Noto+Sans+TC:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.serif-font {
  font-family: 'Noto Serif TC', serif;
}

.sans-font {
  font-family: 'Noto Sans TC', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}
